<div class="fixed-header-wrapper">
  <nav class="navbar custom-navbar">
    <div class="container-fluid header-wrapper">
      <div class="d-flex align-items-center logo-name-wrapper">
        <img src="assets/logo.png" alt="Logo" class="logo-img me-2">
        <div class="company-name">
          <div class="brand-main">Jay Ganesh</div>
          <div class="brand-sub">Enterprises</div>
        </div>
      </div>
      <div class="d-flex align-items-center contact-block">
        <i class="bi bi-telephone-fill contact-icon me-2"></i>
        <a href="tel:+917218405002" class="contact-text text-decoration-none text-dark">
          72184 05002
        </a>
      </div>

    </div>
  </nav>

  <div class="border-line"></div>

  <div class="page-nav">
    <nav class="page-links">
      <a routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="/product" routerLinkActive="active-link">Products</a>
      <a routerLink="/contact" routerLinkActive="active-link">Contact</a>
    </nav>
  </div>

  <div class="border-line-light"></div>
</div>