<section class="contact-page-section py-5" >
  <div class="container" style="padding-top: 120px;">
    <h2 class="text-center mb-5">Contact Us</h2>
    
    <div class="row g-5">
      <!-- Contact Details -->
      <div class="col-md-5">
        <div class="contact-info p-4 shadow rounded">
          <h4 class="mb-4">Get in Touch</h4>

          <!--<div class="mb-3 d-flex align-items-start">
            <i class="bi bi-telephone-fill fs-4 text-primary me-3"></i>
            <div>
              <strong>Phone:</strong><br>
              <span>+91 72184 05002</span>
            </div>
          </div>-->

          <div class="d-flex align-items-center contact-block">
            <i class="bi bi-telephone-fill fs-4 text-primary me-3"></i>
            <a href="tel:+917218405002" class="contact-text text-decoration-none text-dark">
              <div>
                <strong>Phone:</strong><br>
                <span>+91 72184 05002</span>
              </div>
            </a>
          </div>
          <br>
          <div class="mb-3 d-flex align-items-start">
            <i class="bi bi-envelope-fill fs-4 text-danger me-3"></i>
            <div>
              <strong>Email:</strong><br>
              <span>ganeshd0909@email.com</span>
            </div>
          </div>

          <div class="d-flex align-items-start">
            <i class="bi bi-geo-alt-fill fs-4 text-success me-3"></i>
            <div>
              <strong>Address:</strong><br>
              <span>Jay Ganesh Enterprises, Purnanager, Pimpri Chinchwad</span>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Google Map -->
    <div class="row mt-5">
      <div class="col-12">
        <div class="map-wrapper shadow rounded overflow-hidden">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d619.7220994676017!2d73.80763850961426!3d18.662208736635943!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b97d52fec67f%3A0x5cd56a8470b32e9d!2sJay%20Ganesh%20Enterprises!5e0!3m2!1sen!2sin!4v1753853760555!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" ></iframe> 
        </div>
      </div>
    </div>

  </div>
</section>
