

@media (max-width: 576px) {
  .col-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}


.custom-btn {
  background-color: #d7e2eb;
  color: #134563;
  border: 2px solid #134563;
  font-size: large;
  transition: all 0.3s ease;
}

.custom-btn.selected {
  background-color: #134563;
  color: white;
}




.product-card {
  width: 200px;
  min-width: 200px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
  background-color: #d7e2eb;
}

.product-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 28px rgba(0,0,0,0.08);
}


.offer-badge {
  position: absolute;
  top: 8px;
  left: 8px;
  background: #d32f2f;
  color: white;
  padding: 4px 8px;
  font-size: 0.65rem;
  font-weight: 700;
  border-radius: 4px;
  z-index: 2;
  text-transform: uppercase;
}



.product-img {
  width: 100%;
  height: 200px;
  /*object-fit: cover;*/
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  font-size: 16px;
  margin-bottom: 6px;
  color: #134563 !important;
}

.price-row {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: baseline;
}

.sale-price {
  font-size: 1rem;
  font-weight: 700;
  color: #738ff5;
}

.original-price {
  font-size: 0.8rem;
  color: #d32f2f;
  text-decoration: line-through;
}

.discount-info {
  font-size: 0.75rem;
  color: #388e3c;
}

.btn-sm {
  font-size: 1.2rem;
  padding: 4px 10px;
  color: #134563;
  border-color: #134563;
}

